**/appsettings.json
api_control_neumaticos/appsettings.Development.json
api_correos/appsettings.Development.json

flutter_control_neumaticos/lib/models/config.dart
**/appsettings.Production.json
**/.env/api_correos/appsettings.Development.json
